#galeria .col-lg-4{
    margin:0 !important;
    padding: 15px;
}
#galeria img{
    width: 100%;
    height:250px;
}

#galeria img:hover{
    border:5px solid #f7f7f7;
}
body {

    background-image: url("burbujas.jpg");
  }
